:root{
  --main-font: 'Open Sans';

  --first-color: #FFFFFF;
  --second-color: #333333;
  --accent-color: #28A745;
  --second-accent-color: #0284D0;
}


body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img{
  display: block;
  height: auto;
}

ul,
a,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}